

header {
    height: 90px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 20;
    background: white;
    
    a {
        text-decoration:none;
        color: #212529;
    }

    .container {
        @media @tablet {
            max-width:100%;
            padding-left:0;
            padding-right:0;
        }
    }

    .logo {
       
        @media @tablet {
            text-align:center;
        }
        
        span {
            font-weight:400;
        }
    }

    .menu-items {
        @media @tablet {
            padding-left:0;
            padding-right:0;
        }
    }

    .nav-button {
        position:fixed;
        right:10px;
        top:15px;
        display:none;
        width:48px;
        height:48px;
        cursor: pointer;
        z-index:9999;
        @media @tablet {
            display: block;
        }
        @media @mobile {
            width:35px;
            height:35px;
            top:19px;
        }
        
        .button-line {
            border-bottom:5px solid black;
            padding:5px 0;
            @media @mobile {
                border-bottom:4px solid black;
                padding:4px 0;
            }
        }
    }
    #nav:checked ~ nav {
        display:block;  
    }
    nav {
        @media @tablet {
            display:none;
            height:0;
            width:100%;
            text-align:center;
        }
        .mobile-nav-container {
            margin:0;
            background:none;
            @media @tablet {
                margin-top:22px;
                background:white;
                box-shadow:0 15px 20px #999;
                border-bottom:1px solid #ccc;
            }
            .nav-active {
                border-bottom: 3px solid @color-emerald;
                @media @tablet {
                    border-bottom:1px solid #ccc;
                }
            }
        }
        a {
            text-transform: uppercase;
            font-family: Lato, sans-serif;
            font-size:0.8rem;
            padding-bottom: 5px;
            @media @tablet {
                display:block;
                padding:20px;
                border-bottom:1px solid #ccc;
                font-size:1rem;
            }
            &:last-child {
                border: 1px solid @color-emerald;
                padding: 8px 15px;
                border-radius: 5px;
                margin-left: 0.6rem;
                @media @tablet {
                    border-radius:none;
                    padding: 20px;
                    border: none;
                    font-size: 1rem;
                }
                &:hover {
                    background-color: @color-emerald;
                    border: 1px solid @color-emerald;
                    color:white !important;
                    @media @tablet {
                       
                        background: @color-emerald;
                        border-radius:0;
                        margin:0;
                    }
                }
                &:active {
                    background-color: @color-jewel;
                    border:1px solid @color-jewel;
                    color:white !important;
                }
            }
            &:hover {
                border-bottom: 3px solid @color-emerald;
                @media @tablet {
                    background: @color-emerald;
                    color:white !important;
                    font-weight:500;
                    border-bottom:none;
                }
            }
            &:active {
                border-bottom: 3px solid @color-emerald;
                @media @tablet {
                    background: #249d57;
                    color:white !important;
                    font-weight:500;
                }
            }
        }
    }
  }
